@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

* {
  box-sizing: border-box;
}

.dark {
  --background: #000319;
  --text-primary: #ffffff;
  --text-secondary: #d1acff;
  --border-primary: #1b2040;

  background-color: var(--background);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.bg_gradient {
  background: linear-gradient(103.4deg, #04071d 16.66%, #0c0e23 81.61%);
}

.btn_gradient {
  background: linear-gradient(90deg, #161a31 3.4%, #06091f 100%);
}

.about_card-text {
  @apply font-bold text-primary text-lg md:text-xl lg:text-2xl;
}

.glass:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 150px rgba(65, 64, 64, 0.5);
  filter: blur(3px);
}

.section_heading {
  @apply font-bold text-3xl md:text-3xl lg:text-4xl xl:text-5xl text-primary mb-8 sm:mb-8 md:mb-10 lg:mb-12;
}

.project-card_title {
  @apply font-bold text-xl lg:text-2xl xl:text-3xl text-primary;
}

.project-card_description {
  @apply text-primary font-extralight text-base md:text-lg line-clamp-3;
}

.project-card_link {
  @apply text-secondary font-light text-base md:text-lg lg:text-xl;
}

.tech_bg {
  background: linear-gradient(103.4deg, #04071d 16.66%, #0c0e23 81.61%);
}

.grid_bg {
  background-image: url(/assets/pattern.png);
}
